body {
	margin-top: 40px;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
	width: 900px;
	margin: 0 auto;
}

#create_event {
	display: none;
}

#event_title {
	border: 3px solid grey;
	text: black;
	font-size: 16px;
	padding: 10px;
}

/* Overlay */
#simplemodal-overlay {
	background-color: #000;
	text: white;
	cursor: wait;
}

/* Container */
#simplemodal-container {
	height: 360px;
	width: 600px;
	color: #bbb;
	background-color: white;
	border: 4px solid #444;
	padding: 12px;
}

#simplemodal-container .simplemodal-data {
	padding: 8px;
}

#simplemodal-container code {
	background: #141414;
	border-left: 3px solid #65B43D;
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}

#simplemodal-container a {
	color: #ddd;
}

#simplemodal-container a.modalCloseImg {
	background: url(../images/x.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}

#simplemodal-container h3 {
	color: #84b8d9;
}
